<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cydiakk.000webhostapp.com/Cowabunga-signed.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.leemin.Cowabunga.7TCQB8BW97.7TCQB8BW97.7TCQB8BW97</string>
				<key>bundle-version</key>
				<string>10.3.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Cowabunga</string>
			</dict>
		</dict>
	</array>
</dict>
</plist> 