.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 25px auto 0 30px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 262px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 261px 60px auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 60px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 60px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 25px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 62px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: -20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 21px;
    margin-bottom: 4px;
  }
}